<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3ILYr69BvR9fs4FveYgPTLnzhH3CcsSy"></script>
    <style type="text/css">
        #allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
        .map-addr{
            height: 500px;
        }
        .store{
            margin-right: 15px;
        }
        .uploadFileBtn{
/*            width: 150px;
            height: 50px;
            background: #999;
            color: #fff;*/
        }
    </style>
<?php $this->load->view('admin/Common/nav.html');?>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加账号</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                

                    <form method="post"  id="form-account-add">

                        <div class="form-horizontal">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="nickname">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">移动电话：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="phone" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">身份证号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="idcard">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上传照片：</label>
                            <div class="col-sm-8">
                                <div id="selector" class="btn btn-primary uploadFileBtn">选择图片</div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">添加账号</button>
                                <a class="btn btn-white" href="<?php echo site_url('admin/Account/createAccount') ?>">取消</a>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        window.onload = function(){
                // 创建一个上传参数
            var arr = <?php print_r($data);?>;
            var up = new Upload("<?php echo site_url('admin/Index/do_upload') ?>",'selector',1);

            jQuery.validator.addMethod("isIdCardNo", function (value, element) {
                return this.optional(element) || isIdCardNo(value);
            }, "请正确输入您的身份证号码");

            jQuery.validator.addMethod("isMobile", function(value, element) {
                var length = value.length;
                var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
                return this.optional(element) || (length == 11 && mobile.test(value));
            }, "请正确填写您的手机号码");

            $("#form-account-add").validate({
                rules: {
                  nickname:"required",
                  phone:{
                    required: true,
                    isMobile: true
                  },
                  idcard:{
                    required: true,
                    isIdCardNo: true
                  },
                },
                messages: {
                  nickname: "请输入用户姓名",
                  phone:{
                    required:"请输入手机号",
                    isMobile:"手机号不正确"
                  },
                  idcard: {
                    required:"请输入身份证号",
                    isIdCardNo:"身份证号码不正确"
                  },
                },
                submitHandler:function(form){
                    $.ajax({
                     type: "POST",
                     url: "/admin/Account/createAccountStep",
                     data: $(form).serialize()+'&'+$.param(arr),
                     dataType: "json",
                     success: function(data){
                        if(data.status=='success'){
                            layer.msg(data.message,{icon: 1});
                            window.location.href = '/admin/StoreManage/storeList';
                        }else{
                            layer.msg(data.message,{icon: 2});
                        }
                     }})
                }
            })


        }

        //增加身份证验证
        function isIdCardNo(num) {
            var factorArr = new Array(7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2, 1);
            var parityBit = new Array("1", "0", "X", "9", "8", "7", "6", "5", "4", "3", "2");
            var varArray = new Array();
            var intValue;
            var lngProduct = 0;
            var intCheckDigit;
            var intStrLen = num.length;
            var idNumber = num;
            // initialize
            if ((intStrLen != 15) && (intStrLen != 18)) {
                return false;
            }
            // check and set value
            for (i = 0; i < intStrLen; i++) {
                varArray[i] = idNumber.charAt(i);
                if ((varArray[i] < '0' || varArray[i] > '9') && (i != 17)) {
                    return false;
                } else if (i < 17) {
                    varArray[i] = varArray[i] * factorArr[i];
                }
            }

            if (intStrLen == 18) {
                //check date
                var date8 = idNumber.substring(6, 14);
                if (isDate8(date8) == false) {
                    return false;
                }
                // calculate the sum of the products
                for (i = 0; i < 17; i++) {
                    lngProduct = lngProduct + varArray[i];
                }
                // calculate the check digit
                intCheckDigit = parityBit[lngProduct % 11];
                // check last digit
                if (varArray[17] != intCheckDigit) {
                    return false;
                }
            }
            else {        //length is 15
                //check date
                var date6 = idNumber.substring(6, 12);
                if (isDate6(date6) == false) {
                    return false;
                }
            }
            return true;
        }

        function isDate6(sDate) {
            if (!/^[0-9]{6}$/.test(sDate)) {
                return false;
            }
            var year, month, day;
            year = sDate.substring(0, 4);
            month = sDate.substring(4, 6);
            if (year < 1700 || year > 2500) return false
            if (month < 1 || month > 12) return false
            return true
        }

        function isDate8(sDate) {
            if (!/^[0-9]{8}$/.test(sDate)) {
                return false;
            }
            var year, month, day;
            year = sDate.substring(0, 4);
            month = sDate.substring(4, 6);
            day = sDate.substring(6, 8);
            var iaMonthDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
            if (year < 1700 || year > 2500) return false
            if (((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0)) iaMonthDays[1] = 29;
            if (month < 1 || month > 12) return false
            if (day < 1 || day > iaMonthDays[month - 1]) return false
            return true
        }
    </script>

<?php $this->load->view('admin/Common/footer.html');?>          



