<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3ILYr69BvR9fs4FveYgPTLnzhH3CcsSy"></script>
    <style type="text/css">
        #allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
        .map-addr{
            height: 500px;
        }
        .store{
            margin-right: 15px;
        }
        .uploadFileBtn{
/*            width: 150px;
            height: 50px;
            background: #999;
            color: #fff;*/
        }
    </style>
<?php $this->load->view('admin/Common/nav.html');?>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加用户组</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <?php
                        $leves = $this->config->item('leve');
                    ?>
                    <form method="GET"  id="form-store-add" action="<?php echo site_url('admin/Account/createAccountStepEdit') ?>">
                        <input type="hidden" value="<?php echo $uid; ?>" name="uid">
                        <div class="form-group row">
                            <div class="col-sm-1">
                            <label>用户组设置：</label>
                                <select  class="form-control" id="group-setting" name="groupid">
                                    <?php foreach ($leves as $key => $value): ?>
                                        <option value="<?php echo $key;?>"><?php echo $value;?></option>
                                    <?php endforeach; ?> 
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-inline" id="linkAge">

                        </div>
                        <div class="form-horizontal">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary">编辑账户</button>
                                    <a class="btn btn-white" href="<?php echo site_url('admin/Account/createAccount') ?>">取消</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="<?php echo base_url('public/common/js/jsAddress.js')?>"></script>
    <script type="text/javascript">
        window.onload = function(){

            var arr = {}; 
            var arrs = {}; 
            var leve = parseInt("<?php echo $leve;?>");

            arrs['groupid'] = leve;
            $("#group-setting").find("option[value='"+leve+"']").attr("selected",true);
            arrs['managerDefult'] = "<?php echo $managerDefult;?>";
            arrs['storeDefult'] = "<?php echo $storeDefult;?>";
            arrs['areaDefult'] = "<?php echo $areaDefult;?>";
            arrs['cityDefault'] = "<?php echo $cityDefault;?>";
            arrs['provinceDefault'] = "<?php echo $provinceDefault;?>";
            arrs['largeDefult'] = "<?php echo $largeDefult;?>";
            getLarge(arrs);

            $('#group-setting').change(function(){
                v = $(this).val();
                if(v !='1' ){
                    arr['largeDefult'] = '6';
                    arr['provinceDefault'] = '530000';
                    arr['cityDefault'] = '530100';
                }
                arr['groupid'] = v;

                getLarge(arr);
            });

            function getLarge(arrs){

                $.ajax({
                     type: "POST",
                     url: "<?php echo site_url('admin/Account/getLinkAge') ?>",
                     data: arrs,
                     dataType: "json",
                     success: function(data){
                        if(data.status=='success'){
                            var selectStr = '<div class="form-group padding-right lagre"><label>大区：</label><select  class="form-control" id="area-large" name="large">';
                            for(var key in data.data['large']){
                                if(data.data['largeDefult'] == data.data['large'][key].id){
                                    selectStr+="<option value='"+data.data['large'][key].id+"' selected>"+data.data['large'][key].name+"</option>";
                                }else{
                                    selectStr+="<option value='"+data.data['large'][key].id+"'>"+data.data['large'][key].name+"</option>";
                                }
                            } 
                            selectStr+='</select></div>';
                            if(typeof(data.data['provinces']) !="undefined"){
                                selectStr+= '<div class="form-group padding-right province"><label>省：</label><select  class="form-control" id="area-province" name="province">';
                                for(var key in data.data['provinces']){
                                    if(data.data['provinceDefault'] == data.data['provinces'][key].provinceid){
                                        selectStr+="<option value='"+data.data['provinces'][key].provinceid+"' selected>"+data.data['provinces'][key].province+"</option>";
                                    }else{
                                        selectStr+="<option value='"+data.data['provinces'][key].provinceid+"'>"+data.data['provinces'][key].province+"</option>";
                                    }
                                } 
                                selectStr+='</select></div>';
                            }                          
                            
                            if(typeof(data.data['citys']) !="undefined"){
                                selectStr+= '<div class="form-group padding-right city"><label>市：</label><select  class="form-control" id="area-city" name="city">';
                                for(var key in data.data['citys']){
                                    if(data.data['cityDefault'] == data.data['citys'][key].cityid){
                                        selectStr+="<option value='"+data.data['citys'][key].cityid+"' selected>"+data.data['citys'][key].city+"</option>";
                                    }else{
                                        selectStr+="<option value='"+data.data['citys'][key].cityid+"'>"+data.data['citys'][key].city+"</option>";
                                    }
                                } 
                                selectStr+='</select></div>';
                            }

                            if(typeof(data.data['areas']) !="undefined" && data.data['areas']!="" ){
                                selectStr+= '<div class="form-group padding-right area-select area"><label>管理区域：</label><select  class="form-control" id="custom-area" name="area">';
                                for(var key in data.data['areas']){
                                    if(data.data['areaDefult'] == data.data['areas'][key].id){
                                        selectStr+="<option value='"+data.data['areas'][key].id+"' selected>"+data.data['areas'][key].name+"</option>";
                                    }else{
                                        selectStr+="<option value='"+data.data['areas'][key].id+"'>"+data.data['areas'][key].name+"</option>";
                                    }
                                } 
                                selectStr+='</select></div>';
                            }

                            if(typeof(data.data['stores']) !="undefined" && data.data['stores']!=""){
                                selectStr+= '<div class="form-group padding-right store"><label>门店：</label><select  class="form-control" id="store" name="store">';
                                for(var key in data.data['stores']){
                                    if(data.data['storeDefult'] == data.data['stores'][key].id){
                                        selectStr+="<option value='"+data.data['stores'][key].id+"' selected>"+data.data['stores'][key].name+"</option>";
                                    }else{
                                        selectStr+="<option value='"+data.data['stores'][key].id+"'>"+data.data['stores'][key].name+"</option>";
                                    }
                                } 
                                selectStr+='</select></div>';
                            }

                            if(typeof(data.data['managers']) !="undefined" && data.data['managers']!=""){
                                selectStr+= '<div class="form-group padding-right store"><label>店经理：</label><select  class="form-control" id="manager" name="manager">';
                                for(var key in data.data['managers']){
                                    if(data.data['managerDefult'] == data.data['managers'][key].id){
                                        selectStr+="<option value='"+data.data['managers'][key].id+"' selected>"+data.data['managers'][key].nickname+"</option>";
                                    }else{
                                        selectStr+="<option value='"+data.data['managers'][key].id+"'>"+data.data['managers'][key].nickname+"</option>";
                                    }
                                } 
                                selectStr+='</select></div>';
                            }

                            $('#linkAge').html(selectStr);
                        }
                 }})
            }

            //大区change
            $('body').on('change','#area-large',function(){
                groupid = parseInt($('#group-setting').val());
                var arr = {}; 
                arr['groupid'] = groupid;
                if(groupid != 1){
                    largeDefult = $('#area-large').val();
                    arr['largeDefult'] = largeDefult;
                    getLarge(arr);
                }
            });

            //省份change
            $('body').on('change','#area-province',function(){
                groupid = parseInt($('#group-setting').val());
                var arr = {}; 
                arr['groupid'] = groupid;
                if(groupid != 1){
                    largeDefult = $('#area-large').val();
                    provinceDefault = $('#area-province').val();
                    arr['largeDefult'] = largeDefult;
                    arr['provinceDefault'] = provinceDefault;
                    getLarge(arr);
                }
            });

            //城市change
            $('body').on('change','#area-city',function(){
                groupid = parseInt($('#group-setting').val());
                var arr = {}; 
                arr['groupid'] = groupid;
                if(groupid != 1){
                    largeDefult = $('#area-large').val();
                    provinceDefault = $('#area-province').val();
                    cityDefault = $('#area-city').val();
                    arr['largeDefult'] = largeDefult;
                    arr['provinceDefault'] = provinceDefault;
                    arr['cityDefault'] = cityDefault;
                    getLarge(arr);
                }
            });

            //区域change
            $('body').on('change','#custom-area',function(){
                groupid = parseInt($('#group-setting').val());
                var arr = {}; 
                arr['groupid'] = groupid;
                if(groupid != 1){
                    largeDefult = $('#area-large').val();
                    provinceDefault = $('#area-province').val();
                    cityDefault = $('#area-city').val();
                    areaDefult = $('#custom-area').val();
                    arr['largeDefult'] = largeDefult;
                    arr['provinceDefault'] = provinceDefault;
                    arr['cityDefault'] = cityDefault;
                    arr['areaDefult'] = areaDefult;
                    getLarge(arr);
                }
            });
            
            //门店change
            $('body').on('change','#store',function(){
                groupid = parseInt($('#group-setting').val());
                var arr = {}; 
                arr['groupid'] = groupid;
                if(groupid != 1){
                    largeDefult = $('#area-large').val();
                    provinceDefault = $('#area-province').val();
                    cityDefault = $('#area-city').val();
                    areaDefult = $('#custom-area').val();
                    storeDefult = $('#store').val();
                    arr['largeDefult'] = largeDefult;
                    arr['provinceDefault'] = provinceDefault;
                    arr['cityDefault'] = cityDefault;
                    arr['areaDefult'] = areaDefult;
                    arr['storeDefult'] = storeDefult;
                    getLarge(arr);
                }
            });



        }

    </script>
<?php $this->load->view('admin/Common/footer.html');?>          



