<?php $this->load->view('admin/Common/nav.html');?>
<div class="row">
       <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>友情链接列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-inline" role="form" >
                            <div class="form-group padding-right">
                                <a href="javascript:void(0);" class="btn btn-primary add-link"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加链接</a>
                            </div>
                    </form>
                    <div class="table-box">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>链接名称</th>
                                    <th>链接URL</th>
                                    <th>是否是图片LOGO</th>
                                    <th>logo</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                             <?php foreach ($links as $item): ?>
                                <tr>
                                    <td><?php echo $item['id']; ?></td>
                                    <td><?php echo $item['title']; ?></td>
                                    <td><?php echo $item['url']; ?></td>
                                    <td><?php echo $item['is_pic'] ? '是' : '否'; ?></td>
                                    <td><?php echo $item['logo'] ? "<img width='120px' height='70px'  src='".base_url('public/uploads/'.$item['logo'])."'>" : ''; ?></td>
                                    <td><?php echo date('Y-m-d H:i:s',$item['add_time']); ?></td>
                                    <td><a data-id="<?php echo $item['id']; ?>" class="option del_link">删除</a></td>
                                </tr>
                            <?php endforeach; ?>                          
                            </tbody>
                        </table>
                    </div>
                    <?php echo $this->mypage_class->show(1); ?>
                </div>
            </div>
        </div>
    </div>


    <!-- 添加友情链接 -->
    <div class="modal fade" id="add_link" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加链接</h4>
             </div>
             <div class="modal-body">
                <form class="form-horizontal" id="form-add-link" autocomplete="off">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">是否是图片：</label>
                        <div class="col-sm-2">
                            <select id="is_pic" name="is_pic" class="form-control valid">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>                            
                        </div>
                    </div>
                    <div class="form-group hide_logo" id="logo_form">
                        <label class="col-lg-3 control-label">链接LOGO：</label>
                        <div class="col-lg-8">
                            <div id="selector" class="btn btn-primary uploadFileBtn"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加LOGO</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">链接标题：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">链接URL：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="url">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="button" class="btn btn-default col-sm-offset-1" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
             </div>
          </div>
        </div>
    </div>


    <script type="text/javascript">
        window.onload = function(){
            var up = new Upload("<?php echo site_url('admin/Index/do_upload/?filepath=link') ?>",'selector','1');
           $('.add-link').click(function(){
                $('#add_link').modal('show');
            })

            $('.del_link').click(function(){
                id = $(this).data('id');
                layer.confirm('您确定要删除此链接吗？', {icon: 3, title:'确认删除链接'}, function(index){
                    $.ajax({
                        type: "POST",
                        url: "<?php echo base_url('admin/FriendLink/delLink');?>",
                        data: {id:id},
                        dataType: "json",
                        success: function(data){
                        if(data.status=='success'){
                            layer.msg(data.message,{icon: 1});
                            window.location.reload();
                        }else{
                            layer.msg(data.message,{icon: 2});
                        }
                    }})

                })

            });
            
            $('#is_pic').change(function(){
                var v = $(this).val();
                if(v == '0'){
                    $('#logo_form').addClass('hide_logo');
                }else{
                    $('#logo_form').removeClass('hide_logo');
                }
            })

            $("#form-add-link").validate({
                rules: {
                  title:"required",
                  url:"required"

                },
                messages: {
                  title: "链接标题不能为空",
                  url: "链接URL不能为空"
                },
                submitHandler:function(form){
                    $.ajax({
                     type: "POST",
                     url: "<?php echo base_url('admin/FriendLink/addLink');?>",
                     data: $(form).serialize(),
                     dataType: "json",
                     success: function(data){
                        if(data.status=='success'){
                            layer.msg(data.message,{icon: 1});
                            window.location.reload();
                        }else{
                            layer.msg(data.message,{icon: 2});
                        }
                     }})
                }
            })


            /*
            * url 目标url
            * arg 需要替换的参数名称
            * arg_val 替换后的参数的值
            * return url 参数替换后的url
            */
            function changeURLArg(url,arg,arg_val){
                var pattern=arg+'=([^&]*)';
                var replaceText=arg+'='+arg_val;
                if(url.match(pattern)){
                    var tmp='/('+ arg+'=)([^&]*)/gi';
                    tmp=url.replace(eval(tmp),replaceText);
                    return tmp;
                }else{
                    if(url.match('[\?]')){
                        return url+'&'+replaceText;
                    }else{
                        return url+'?'+replaceText;
                    }
                }
                return url+'\n'+arg+'\n'+arg_val;
            }
        }
    </script>
<?php $this->load->view('admin/Common/footer.html');?>          



